<div class="grid-container">
  <div class="content">
    <mat-form-field>
      <input type="text" placeholder="Enter term here..." matInput [formControl]="myControl" [matAutocomplete]="auto"
        AutoSizeInput [extraWidth]="5" class="term" (blur)="OnUpdateTerm()"
        [(ngModel)]="term">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let filteredTerm of filteredTerms | async" [value]="option">
          {{ filteredTerm }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <hr style="border-style:none" />
  <div class="results" #results [scrollTop]="results.scrollHeight">
    <div style="display: table; height: 100%; position: relative; overflow: hidden;">
      <div style="#position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
        <div style=" #position: relative; #top: -50%;">
          <input type="text" AutoSizeInput [extraWidth]="100" class="term" (blur)="OnUpdateDefinition()"
            [(ngModel)]="definition" (keydown.enter)="$event.target.blur();false" style="font-size: 1.2rem">
        </div>
      </div>
    </div>
  </div>